<h1>ngIf example</h1>
<div *ngIf="dispaly; then updated_msg else Error_msg"><h1>student was added</h1></div>
<ng-template #updated_msg><h1>user was added</h1></ng-template>
<ng-template #Error_msg><h1>user not added</h1></ng-template>
<button (click)="changedata()">change</button>

<h1>ngFor example</h1>
<div>
    <ul>
        <li *ngFor="let sub of subjects">{{sub}}</li>
    </ul>
    <h1>Index value</h1>
    <div *ngFor="let x of subjects;index as i" class="bg-success"><h2>{{i}}-->{{x}}</h2></div><br>
    <h1>First value</h1>
    <div *ngFor="let x of subjects;first as f" class="bg-primary"><h2>{{f}}-->{{x}}</h2></div><br>
    <h1>Last value</h1>
    <div *ngFor="let x of subjects;last as l" class="bg-info"><h2>{{l}}-->{{x}}</h2></div><br>
    <h1>Even value</h1>
    <div *ngFor="let x of subjects;even as e" class="bg-warning"><h2>{{e}}-->{{x}}</h2></div><br>
    <h1>Odd value</h1>
    <div *ngFor="let x of subjects;odd as o" class="bg-danger"><h2>{{o}}-->{{x}}</h2></div>
</div>
<br>
<h1>Table example</h1>
    <table width="100%">
        <tr>
            <th>Sno</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>1</td>
            <td>smk</td>
            <td>naidu</td>
            <td>smknaidu2012@gmail.com</td>
            <td>male</td>
        </tr>
        <tr>
            <td>2</td>
            <td>smknaidu</td>
            <td>naidu</td>
            <td>smknaidu041@gmail.com</td>
            <td>male</td>
        </tr>
    </table>
<br>

<h1>ngSwitchCase</h1>
 
  <div [ngSwitch]="num">
      <div *ngSwitchCase="'1'"><h2>One</h2></div>
      <div *ngSwitchCase="'2'"><h2>Two</h2></div>
      <div *ngSwitchCase="'3'"><h2>Three</h2></div>
      <div *ngSwitchCase="'4'"><h2>Four</h2></div>
      <div *ngSwitchCase="'5'"><h2>Five</h2></div>
      <div *ngSwitchDefault><h2>This is Default</h2></div>
    </div>
  <br>
  <h1>ngStyle example</h1>
  <div [ngStyle]="{'background-color':'orange','color':'#fff'}"><h2>this is DOM element</h2></div>
  <div [ngStyle]="{'background-color': styleProp}">This is dynamic color DIV</div>
  <div [ngStyle]="{'color':txtcolor ==='green'? 'blue':'green'}">This is dynamic DIV</div>
  <br>

  <h1>ngClass EXamples</h1>
  <div [ngClass]="'c1'">This is ngclass example </div>
  <div [ngClass]="'c1 c2'">This is ngclass multipleclasses example</div>
<div [ngClass]="styleClsProp">This is ngclass example</div>